<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Running Platform" sequenceNumber="13">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location path="${workspace_loc:shared-ipojo-manager/buildSupport/bundles}" type="Directory"/>
</locations>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.5 -XX:MaxPermSize=256m -Xms40m -Xmx384m</vmArgs>
</launcherArgs>
</target>
